.waldo {
    width: 100%;
    z-index: 0;
    isolation: isolate;
    position: relative;
}

/* todo: edit for mobile */
/* main {
    margin-top: 40px;
    margin-inline: 20px;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
} */

.dropdown,
.box {
    position: absolute;
    margin: 0;
    padding: 0;
}

.box {
    border: 0.5vw solid rgb(30, 105, 186);
    width: var(--size);
    height: var(--size);
}

.dropdown {
    background-color: white;
    border-radius: 4px;
}

.dropdown ul,
.dropdown li {
    list-style: none;
    margin: 0;
    padding:0;
}

.dropdown ul {
    margin-top: 8px;
}

.dropdown > p {
    margin: 4px 8px;
    text-align: center;
}

.dropdown li {
    padding: 4px 8px;
}

.dropdown li:hover {
    background-color: rgb(217, 217, 255);
    cursor: pointer;
}